# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.sconsign.dblite
.sconsign.tmp
*.elf
*.bin
*.map
*.hex

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Trae
.trae/
